body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}


button {
    padding: 5px 20px;
    background-color: #4d6669;
    color: #fdffff;
    border-style: none;
}

input {
    height: 20px;
}

a {
    color: #fdffff;
    text-decoration: none;
}


footer{
    width: 500px;
    height: 30px;
    font-size: x-small;
    position: absolute;
    bottom: 0px;
}
